DATABASE_URL=mongodb://localhost:27017/hotel-booking
ACCESS_TOKEN_SECRET="ABcDOYpbwyGSSKRwYJQyw4K6galuUf5HRqz1M18JhKAE1rtiWqshyty8wu+rQZB/q6AlQOwkZVxHL4/jXQxwF7wV8Q0aQ1I1rR6xvSsDpRuF8GOnxrdxeQ6r0QwXCY0/isvuitUKompUGF34iu7Ow9n2QikJvhDmgr8="
REFRESH_TOKEN_SECRET="hcm4dobxH32+d1yV0dbCbUbJRfpGbPaA7IEbuqfVKPdh0sccNDIbFyyBPY46mAuZIFudUFIF1nLLBEvr11rsDx40R4vQ43vSPaRRaAqTXboSfEs6bthEhEECDO2VV5MJ6ji1LUrAkplW6W+foC7PPO7kpKmDxbRUyBY="
ACCESS_TOKEN_PUBLIC_KEY="vLD15y5M9XcR1iCt8twlEYeXMkGEwn+CylVHcxHqxkavES1k9EWjb3a3F5puctjesvZRpGtUr3X1tEEgfu4KYOHIQMUhL0r3RGykCYz7yoRisDGIgGp4DLuzS3SufKuwElXW0gET+IjV1+eXRbk2kbFaE1Z2/KhIeO4="
REFRESH_TOKEN_PUBLIC_KEY="IAbQ5ZokwxsPRyW2jeUlAaycNoAdQR8RPVQtXkQwvmzXtY3CLuAWjptgLuTaOrE0iHnhJbDEtfJPR0Pgv7ZfD33coizVyZrP3yUphS2zrC1KgAYVrc7zxnWfW2IwIKAEkXQqKGUR6DQ0xGv/8N6o4pYSlY3i4X+MV3c="